<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header.ejs')%>
    <br>
    <%- body%>
    <br>
    
</body>
</html>
=======
  <head>
    <%- include('../partials/head.ejs')%>
  </head>
  <body>
    <div><%- include('../partials/navbar.ejs')%></div>
    <br />
    <%- body%>
    <br />
  </body>
</html>
>>>>>>> development
